Mako==1.0.6
MarkupSafe==0.23
PasteDeploy==1.5.2
PyMySQL==0.9.3
Pygments==2.2.0
SQLAlchemy==1.1.18
sqlalchemy-utils==0.32.21
WebOb==1.7.1
alembic==0.9.1
passlib==1.7.1
PyExecJS==1.5.1
pylama==6.3.1
pyramid==1.8.3
pyramid-mako==1.0.2
pyramid-tm==0.11
repoze.lru==0.6
transaction==2.1.2
translationstring==1.3
venusian==1.0
waitress==1.0.2
zope.deprecation==4.2.0
zope.interface==4.7.2
zope.sqlalchemy==1.1
-e git+https://github.com/likecoin/pyramid_safile.git#egg=pyramid_safile
ply==3.6
click==7.1.2
redis==2.10.6
rq==0.12.0
cornice==2.4.0
requests==2.20.1
stripe==6.4.0
google-cloud-storage==1.44.0
setuptools==45
firebase-admin==3.2.1
google-cloud-translate==1.7.0
Babel==2.5.0
google-cloud-pubsub==1.7.0
